<header class="container">
  <div class="row align-items-center mb-3">
    <div class="col-md-5">
      <h2>{{title}}</h2>
    </div>
    <div class="col-md-7 text-md-end">
      <nav>
        <a routerLink="/drinks" class="me-3">Order Drink</a>       
        <a routerLink="/recipes" class="me-3">Drinks</a>
        <a routerLink="/add-drink" class="me-3">Add Drink</a>
        <a routerLink="/ingredients" class="me-3">Ingredients</a>
        <a routerLink="/add-ingredient" class="me-3">Add Ingredient</a>
      </nav>
    </div>
  </div>
</header>
  
  